/.gradle
/.idea
/build
*/build
/captures
/.cxx
*/.cxx
/.externalNativeBuild

._*
*.iml
.DS_Store
local.properties
/app/build/
/.gradle/
/.idea/
/.idea/codeStyles/
/.idea/libraries/
/.idea/modules/
/.idea/shelf/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/app/debug/
