<?xml version="1.0" encoding="utf-8"?><!-- 清单文件合并指引：https://developer.android.google.cn/studio/build/manifest-merge?hl=zh-cn -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.cqautotest.sunnybeach">

    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 设置壁纸权限 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <!-- 外部存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 定位权限（用于 WebView 定位）-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- region MiPush -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--<permission-->
    <!--    android:name="cn.cqautotest.sunnybeach.permission.MIPUSH_RECEIVE"-->
    <!--    android:protectionLevel="signature" />-->
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="cn.cqautotest.sunnybeach.permission.MIPUSH_RECEIVE" />
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <!-- endregion MiPush -->

    <!-- 悬浮窗入口 -->
    <meta-data
        android:name="LogcatWindowEntrance"
        android:value="false" />

    <!-- 通知栏入口 -->
    <meta-data
        android:name="LogcatNotifyEntrance"
        android:value="true" />

    <!-- Application 节点详解：https://developer.android.google.cn/guide/topics/manifest/application-element -->
    <!-- Activity 节点详解：https://developer.android.google.cn/guide/topics/manifest/activity-element -->
    <application
        android:name=".app.AppApplication"
        android:allowBackup="false"
        android:icon="@mipmap/launcher_ic"
        android:label="${app_name}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/launcher_ic"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl,android:label,android:icon,android:roundIcon,android:theme"
        tools:targetApi="n">

        <!-- 表示当前已经适配了分区存储 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!-- 自定义 WorkManager 配置和初始化：https://developer.android.com/topic/libraries/architecture/workmanager/advanced/custom-configuration#remove-default -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- 移除默认初始化程序：移除 WorkManagerInitializer 节点 -->
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <receiver
            android:name="com.xiaomi.market.sdk.DownloadCompleteReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- 闪屏页 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 引导页 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 首页 -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme"
            android:windowSoftInputMode="adjustPan" />

        <!-- 登录页 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 注册页 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 崩溃展示（必须在独立进程） -->
        <activity
            android:name=".ui.activity.CrashActivity"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape" />

        <!-- 重启应用（必须在独立进程） -->
        <activity
            android:name=".ui.activity.RestartActivity"
            android:launchMode="singleTop"
            android:process=":restart" />

        <!-- 设置页 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/setting_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 忘记密码 -->
        <activity
            android:name=".ui.activity.PasswordForgetActivity"
            android:label="@string/password_forget_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 修改密码 -->
        <activity
            android:name=".ui.activity.PasswordModifyActivity"
            android:label="@string/password_modify_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 重置密码 -->
        <activity
            android:name=".ui.activity.PasswordResetActivity"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 更换手机 -->
        <activity
            android:name=".ui.activity.PhoneResetActivity"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- 关于我们 -->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 个人资料 -->
        <activity
            android:name=".ui.activity.PersonalDataActivity"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 网页浏览 -->
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 拍照选择 -->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片裁剪 -->
        <activity
            android:name=".ui.activity.ImageCropActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 图片选择 -->
        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 查看大图 -->
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 播放视频（自适应方向） -->
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:launchMode="singleTop"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（竖屏方向） -->
        <activity
            android:name=".ui.activity.VideoPlayActivity$Portrait"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />

        <!-- 播放视频（横屏方向） -->
        <activity
            android:name=".ui.activity.VideoPlayActivity$Landscape"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />

        <!-- 选择视频 -->
        <activity
            android:name=".ui.activity.VideoSelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 对话框案例 -->
        <activity
            android:name=".ui.activity.DialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 状态案例 -->
        <activity
            android:name=".ui.activity.StatusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 微信回调（请注意这个 Activity 放置的包名要和当前项目的包名保持一致，否则将不能正常回调） -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 测试界面 -->
        <activity
            android:name=".ui.activity.TestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 图片查看（仿抖音） -->
        <activity
            android:name=".ui.activity.GalleryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 天气界面 -->
        <activity
            android:name=".ui.activity.weather.WeatherActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 天气首页界面 -->
        <activity
            android:name=".ui.activity.weather.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 查看用户信息页 -->
        <activity
            android:name=".ui.activity.ViewUserActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.52android.cn/sob/u” -->
                <data
                    android:host="www.52android.cn"
                    android:pathPrefix="/sob/u"
                    android:scheme="http" />
                <data
                    android:host="www.52android.cn"
                    android:pathPrefix="/sob/u"
                    android:scheme="https" />
                <data
                    android:host="www.sunofbeach.net"
                    android:pathPrefix="/u"
                    android:scheme="https" />
                <data
                    android:host="sunofbeach.net"
                    android:pathPrefix="/u"
                    android:scheme="https" />

            </intent-filter>

        </activity>

        <!-- 用户中心页 -->
        <activity
            android:name=".ui.activity.UserCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 富豪榜列表页 -->
        <activity
            android:name=".ui.activity.RichListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 摸鱼详情页 -->
        <activity
            android:name=".ui.activity.FishPondDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 摸鱼设置页 -->
        <activity
            android:name=".ui.activity.FishPondSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 鱼塘列表选择页 -->
        <activity
            android:name=".ui.activity.FishPondSelectionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 发布摸鱼页 -->
        <activity
            android:name=".ui.activity.PutFishActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 摸鱼评论列表页 -->
        <activity
            android:name=".ui.activity.FishCommendDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 消息中心页 -->
        <activity
            android:name=".ui.activity.MessageCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme" />

        <!-- 文章消息列表页 -->
        <activity
            android:name=".ui.activity.msg.ArticleMsgListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme" />

        <!-- 点赞消息列表页 -->
        <activity
            android:name=".ui.activity.msg.LikeMsgListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme" />

        <!-- 摸鱼消息列表页 -->
        <activity
            android:name=".ui.activity.msg.FishMsgListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme" />

        <!-- At我 消息列表页 -->
        <activity
            android:name=".ui.activity.msg.AtMeMsgListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme" />

        <!-- 问答消息列表页 -->
        <activity
            android:name=".ui.activity.msg.QaMsgListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme" />

        <!-- 系统消息列表页 -->
        <activity
            android:name=".ui.activity.msg.SystemMsgListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppMaterialComponentsTheme" />

        <!-- Vip 介绍页 -->
        <activity
            android:name=".ui.activity.VipActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 创作中心页 -->
        <activity
            android:name=".ui.activity.CreationCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 扫码界面 -->
        <activity
            android:name=".ui.activity.ScanCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 课程详情页 -->
        <activity
            android:name=".ui.activity.CourseDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 课程视频播放页 -->
        <activity
            android:name=".ui.activity.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:launchMode="singleTop" />

        <!-- 壁纸发现页 -->
        <activity
            android:name=".ui.activity.WallpaperActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 搜索结果页 -->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />

        <!-- 修改用户信息页 -->
        <activity
            android:name=".ui.activity.ModifyUserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 举报页 -->
        <activity
            android:name=".ui.activity.ReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- region MiPush -->
        <!-- MiPush 通知点击 Activity  -->
        <activity
            android:name="com.xiaomi.mipush.sdk.NotificationClickedActivity"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 收藏列表页 -->
        <activity
            android:name=".ui.activity.CollectionListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 收藏详情列表页 -->
        <activity
            android:name=".ui.activity.CollectionDetailListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 阳光沙滩证详情页 -->
        <activity
            android:name=".ui.activity.SobCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 热门（小默）文章列表界面 -->
        <activity
            android:name=".ui.activity.HotArticleListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 用户 Sob 币的收支（Income & Expenditures）明细列表界面 -->
        <activity
            android:name=".ui.activity.SobIEDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 用户内容列表管理界面 -->
        <activity
            android:name=".ui.activity.MineArticleListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 鱼塘话题页 -->
        <activity
            android:name=".ui.activity.FishTopicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />

        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <!--注：com.xiaomi.xmsf.permission.MIPUSH_RECEIVE这里的包名不能改为app的包名-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"
            android:permission="com.xiaomi.xmsf.permission.MIPUSH_RECEIVE" />

        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".push.xiaomi.MiPushBroadcastReceiver"
            android:exported="true">

            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>

        </receiver>

        <!-- endregion -->

    </application>

    <!-- Android 11 软件包可见性适配：https://www.jianshu.com/p/d1ccd425c4ce -->
    <queries>
        <!-- 拍照意图：MediaStore.ACTION_IMAGE_CAPTURE -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- 拍摄意图：MediaStore.ACTION_VIDEO_CAPTURE -->
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>

        <!-- 图片裁剪意图 -->
        <intent>
            <action android:name="com.android.camera.action.CROP" />
        </intent>

        <!-- 打电话意图：Intent.ACTION_DIAL -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- 调起分享意图：Intent.ACTION_SEND -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <!-- 调起其他页面意图：Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <!-- 调起系统文件选择器：Intent.ACTION_GET_CONTENT -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

</manifest>